# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [1]:
import pandas as pd
import numpy as np

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/bluebook-for-bulldozers/Machine_Appendix.csv
/kaggle/input/bluebook-for-bulldozers/Data Dictionary.xlsx
/kaggle/input/bluebook-for-bulldozers/median_benchmark.csv
/kaggle/input/bluebook-for-bulldozers/random_forest_benchmark_test.csv
/kaggle/input/bluebook-for-bulldozers/TrainAndValid.csv
/kaggle/input/bluebook-for-bulldozers/ValidSolution.csv
/kaggle/input/bluebook-for-bulldozers/Test.csv
/kaggle/input/bluebook-for-bulldozers/Valid.csv
/kaggle/input/bluebook-for-bulldozers/trainandvalid/TrainAndValid.csv
/kaggle/input/bluebook-for-bulldozers/train/Train.csv
/kaggle/input/bluebook-for-bulldozers/valid/Valid.csv

In [2]:
train = pd.read_csv('/kaggle/input/bluebook-for-bulldozers/trainandvalid/TrainAndValid.csv')
test = pd.read_csv('/kaggle/input/bluebook-for-bulldozers/Test.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12457 entries, 0 to 12456
Data columns (total 52 columns):
SalesID                     12457 non-null int64
MachineID                   12457 non-null int64
ModelID                     12457 non-null int64
datasource                  12457 non-null int64
auctioneerID                12457 non-null int64
YearMade                    12457 non-null int64
MachineHoursCurrentMeter    2129 non-null float64
UsageBand                   1834 non-null object
saledate                    12457 non-null object
fiModelDesc                 12457 non-null object
fiBaseModel                 12457 non-null object
fiSecondaryDesc             8482 non-null object
fiModelSeries               2006 non-null object
fiModelDescriptor           3024 non-null object
ProductSize                 6048 non-null object
fiProductClassDesc          12457 non-null object
state                       12457 non-null object
ProductGroup                12457 non-null object
ProductGroupDesc            12457 non-null object
Drive_System                2759 non-null object
Enclosure                   12455 non-null object
Forks                       6308 non-null object
Pad_Type                    2108 non-null object
Ride_Control                4241 non-null object
Stick                       2108 non-null object
Transmission                4818 non-null object
Turbocharged                2108 non-null object
Blade_Extension             651 non-null object
Blade_Width                 651 non-null object
Enclosure_Type              651 non-null object
Engine_Horsepower           651 non-null object
Hydraulics                  10315 non-null object
Pushblock                   651 non-null object
Ripper                      2704 non-null object
Scarifier                   651 non-null object
Tip_Control                 651 non-null object
Tire_Size                   2778 non-null object
Coupler                     7601 non-null object
Coupler_System              2066 non-null object
Grouser_Tracks              2066 non-null object
Hydraulics_Flow             2066 non-null object
Track_Type                  3394 non-null object
Undercarriage_Pad_Width     3398 non-null object
Stick_Length                3394 non-null object
Thumb                       3395 non-null object
Pattern_Changer             3394 non-null object
Grouser_Type                3394 non-null object
Backhoe_Mounting            2051 non-null object
Blade_Type                  2058 non-null object
Travel_Controls             2058 non-null object
Differential_Type           2129 non-null object
Steering_Controls           2129 non-null object
dtypes: float64(1), int64(6), object(45)
memory usage: 4.9+ MB

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
SalesID                     412698 non-null int64
SalePrice                   412698 non-null float64
MachineID                   412698 non-null int64
ModelID                     412698 non-null int64
datasource                  412698 non-null int64
auctioneerID                392562 non-null float64
YearMade                    412698 non-null int64
MachineHoursCurrentMeter    147504 non-null float64
UsageBand                   73670 non-null object
saledate                    412698 non-null object
fiModelDesc                 412698 non-null object
fiBaseModel                 412698 non-null object
fiSecondaryDesc             271971 non-null object
fiModelSeries               58667 non-null object
fiModelDescriptor           74816 non-null object
ProductSize                 196093 non-null object
fiProductClassDesc          412698 non-null object
state                       412698 non-null object
ProductGroup                412698 non-null object
ProductGroupDesc            412698 non-null object
Drive_System                107087 non-null object
Enclosure                   412364 non-null object
Forks                       197715 non-null object
Pad_Type                    81096 non-null object
Ride_Control                152728 non-null object
Stick                       81096 non-null object
Transmission                188007 non-null object
Turbocharged                81096 non-null object
Blade_Extension             25983 non-null object
Blade_Width                 25983 non-null object
Enclosure_Type              25983 non-null object
Engine_Horsepower           25983 non-null object
Hydraulics                  330133 non-null object
Pushblock                   25983 non-null object
Ripper                      106945 non-null object
Scarifier                   25994 non-null object
Tip_Control                 25983 non-null object
Tire_Size                   97638 non-null object
Coupler                     220679 non-null object
Coupler_System              44974 non-null object
Grouser_Tracks              44875 non-null object
Hydraulics_Flow             44875 non-null object
Track_Type                  102193 non-null object
Undercarriage_Pad_Width     102916 non-null object
Stick_Length                102261 non-null object
Thumb                       102332 non-null object
Pattern_Changer             102261 non-null object
Grouser_Type                102193 non-null object
Backhoe_Mounting            80712 non-null object
Blade_Type                  81875 non-null object
Travel_Controls             81877 non-null object
Differential_Type           71564 non-null object
Steering_Controls           71522 non-null object
dtypes: float64(3), int64(5), object(45)
memory usage: 166.9+ MB

In [6]:
train.describe(include='all')

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
count,4.126980e+05,412698.000000,4.126980e+05,412698.000000,412698.000000,392562.000000,412698.000000,1.475040e+05,73670,412698,...,102916,102261,102332,102261,102193,80712,81875,81877,71564,71522
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4013,...,19,29,3,3,3,2,10,7,4,5
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Medium,2/16/2009 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,None or Unspecified,PAT,None or Unspecified,Standard,Conventional
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35832,1932,...,82444,81539,85074,92924,86998,80692,39633,71447,70169,70774
mean,2.011161e+06,31215.181414,1.230061e+06,6947.201828,135.169361,6.585268,1899.049637,3.522988e+03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.080068e+06,23141.743695,4.539533e+05,6280.824982,9.646749,17.158409,292.190243,2.716993e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.421898e+06,14500.000000,1.088593e+06,3261.000000,132.000000,1.000000,1985.000000,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.645852e+06,24000.000000,1.284397e+06,4605.000000,132.000000,2.000000,1995.000000,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.261012e+06,40000.000000,1.478079e+06,8899.000000,136.000000,4.000000,2001.000000,3.209000e+03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.333349e+06,142000.000000,2.486330e+06,37198.000000,173.000000,99.000000,2014.000000,2.483300e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train['SalePrice'] = np.log(train.SalePrice)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.ensemble import RandomForestRegressor

In [9]:
def model_score(model, X_trn, y_trn, X_val, y_val):
    '''
    Returns the RMSLE Score for the given model
    '''
    model.fit(X_trn, y_trn)
    pred =model.predict(X_val)
    return np.sqrt(mse(pred, y_val))

In [10]:
model= RandomForestRegressor()
feature = ['YearMade']

In [11]:
X_zero = train[feature]
y_zero = train.SalePrice

In [12]:
X_trn, X_val, y_trn, y_val = train_test_split(X_zero, y_zero, test_size=0.3, random_state=0)

In [13]:
model_score(model, X_trn, y_trn, X_val, y_val)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.6681502909788333

In [14]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor

In [15]:
model1 = LinearRegression()
model_score(model1, X_trn, y_trn, X_val, y_val)

0.684898536272467

In [16]:
model2 = XGBRegressor()
model_score(model2, X_trn, y_trn, X_val, y_val)

/opt/conda/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:13:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.6681724286239805

In [17]:
#for i in range(50, 500, 50):
#    model3 = XGBRegressor(n_estimators=200)
#    scr = model_score(model3, X_trn, y_trn, X_val, y_val)
#    print(i, '\t', scr)

In [18]:
train.datasource.unique()

array([121, 132, 136, 149, 172, 173])

In [19]:
features = ['YearMade', 'datasource']

In [20]:
X_one = train[features]
y_one = train.SalePrice

In [21]:
X_trn, X_val, y_trn, y_val = train_test_split(X_one, y_one, test_size=0.3, random_state=0)

In [22]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.6639724617277986

In [23]:
features = ['YearMade', 'datasource', 'state']

In [24]:
X_two = train[features]
y_two = train.SalePrice

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
enc = LabelEncoder()
X_two['state']=enc.fit_transform(X_two.state)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
X_trn, X_val, y_trn, y_val = train_test_split(X_two, y_two, test_size=0.2, random_state=0)

In [28]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.6569710623869166

In [29]:
train['age']= train.saledate.str[-9:-5].astype(int) - train.YearMade
test['age'] = test.saledate.str[-9:-5].astype(int) - test.YearMade

In [30]:
features = ['YearMade', 'datasource', 'state', 'age']
X_three = train[features]
y_three = train.SalePrice

In [31]:
X_three['state']= enc.fit_transform(X_three.state)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
X_trn, X_val, y_trn, y_val = train_test_split(X_three, y_three, test_size=0.2, random_state=0)

In [33]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.6506192245892045

In [34]:
features = ['YearMade', 'datasource', 'state', 'age', 'fiBaseModel']
X_four = train[features]
y_four = train.SalePrice

In [35]:
X_four['state']= enc.fit_transform(X_four.state)
X_four['fiBaseModel']= enc.fit_transform(X_four.fiBaseModel)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
X_trn, X_val, y_trn, y_val = train_test_split(X_four, y_four, test_size=0.2, random_state=0)

In [37]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.27558798004720475

In [38]:
model.score(X_val, y_val)

0.8434746799018752

In [39]:
features = ['YearMade', 'datasource', 'state', 'age', 'fiBaseModel', 'fiProductClassDesc' ]
X_five = train[features]
y_five = train.SalePrice

In [40]:
X_five['state']= enc.fit_transform(X_five.state)
X_five['fiBaseModel']= enc.fit_transform(X_five.fiBaseModel)
X_five['fiProductClassDesc']= enc.fit_transform(X_five.fiProductClassDesc)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
X_trn, X_val, y_trn, y_val = train_test_split(X_five, y_five, test_size=0.2, random_state=0)

In [42]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.24407273815781577

In [43]:
features = ['YearMade', 'datasource', 'state', 'age', 'fiBaseModel', 'fiProductClassDesc' , 'fiModelDesc']
X_six = train[features]
y_six = train.SalePrice

In [44]:
X_test = test[features]

In [45]:
net_state=X_six.state
net_state= net_state.append(X_test.state, ignore_index=True)

In [46]:
net_state

0                Alabama
1         North Carolina
2               New York
3                  Texas
4               New York
               ...
425150           Florida
425151           Florida
425152           Florida
425153           Florida
425154           Georgia
Name: state, Length: 425155, dtype: object

In [47]:
enc_st = LabelEncoder()
enc_st.fit(net_state)

LabelEncoder()

In [48]:
X_six['state']= enc_st.transform(X_six.state)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
X_test['state'] = enc_st.transform(X_test.state)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
net_pcd = X_six.fiProductClassDesc
net_pcd = net_pcd.append(X_test.fiProductClassDesc, ignore_index=True)
net_pcd

0                  Wheel Loader - 110.0 to 120.0 Horsepower
1                  Wheel Loader - 150.0 to 175.0 Horsepower
2         Skid Steer Loader - 1351.0 to 1601.0 Lb Operat...
3         Hydraulic Excavator, Track - 12.0 to 14.0 Metr...
4         Skid Steer Loader - 1601.0 to 1751.0 Lb Operat...
                                ...
425150    Hydraulic Excavator, Track - 8.0 to 11.0 Metri...
425151    Hydraulic Excavator, Track - 2.0 to 3.0 Metric...
425152    Hydraulic Excavator, Track - 3.0 to 4.0 Metric...
425153    Hydraulic Excavator, Track - 3.0 to 4.0 Metric...
425154    Hydraulic Excavator, Track - 5.0 to 6.0 Metric...
Name: fiProductClassDesc, Length: 425155, dtype: object

In [51]:
enc_pcd = LabelEncoder()
enc_pcd.fit(net_pcd)

LabelEncoder()

In [52]:
X_six.fiProductClassDesc = enc_pcd.transform(X_six.fiProductClassDesc)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
X_test['fiProductClassDesc'] = enc_pcd.transform(X_test.fiProductClassDesc )

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
net_bm = X_six.fiBaseModel
net_bm = net_bm.append(X_test.fiBaseModel, ignore_index=True)
net_bm

0           521
1           950
2           226
3         PC120
4          S175
          ...
425150       80
425151       28
425152       35
425153       35
425154       55
Name: fiBaseModel, Length: 425155, dtype: object

In [55]:
enc_bm = LabelEncoder()
enc_bm.fit(net_bm)

LabelEncoder()

In [56]:
X_six.fiBaseModel = enc_bm.transform(X_six.fiBaseModel)

In [57]:
X_test.fiBaseModel = enc_bm.transform(X_test.fiBaseModel)

In [58]:
X_test

,YearMade,datasource,state,age,fiBaseModel,fiProductClassDesc,fiModelDesc
0,1999,121,52,13,326,1,580G
1,1000,121,47,1012,523,60,936
2,2004,121,29,8,777,13,EC210BLC
3,2006,121,29,6,196,18,330CL
4,2005,121,8,7,354,50,650K
...,...,...,...,...,...,...,...
12452,2008,149,8,4,424,26,80NX3
12453,2005,149,8,7,145,12,28N
12454,1000,149,8,1012,208,16,35N
12455,2006,149,8,6,208,16,35N
12456,2008,149,9,4,309,22,55N2

In [59]:
net_md = X_six.fiModelDesc
net_md = net_md.append(X_test.fiModelDesc, ignore_index=True)
net_md

0             521D
1           950FII
2              226
3         PC120-6E
4             S175
            ...
425150       80NX3
425151         28N
425152         35N
425153         35N
425154        55N2
Name: fiModelDesc, Length: 425155, dtype: object

In [60]:
enc_md = LabelEncoder()
enc_md.fit(net_md)

LabelEncoder()

In [61]:
X_six['fiModelDesc'] = enc_md.transform(X_six.fiModelDesc)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
X_test['fiModelDesc'] = enc_md.transform(X_test.fiModelDesc)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
X_six

,YearMade,datasource,state,age,fiBaseModel,fiProductClassDesc,fiModelDesc
0,2004,121,0,2,297,58,977
1,1996,121,32,8,530,61,1771
2,2001,121,31,3,110,38,336
3,2001,121,43,10,1391,7,3769
4,2007,121,31,2,1551,39,4323
...,...,...,...,...,...,...,...
412693,2005,149,43,7,159,12,494
412694,2005,149,8,7,159,16,495
412695,2005,149,8,7,159,12,494
412696,2006,149,43,6,159,12,494
412697,2006,149,8,6,159,16,495

In [64]:
X_trn, X_val, y_trn, y_val = train_test_split(X_six, y_six, test_size=0.2, random_state=0)

In [65]:
model_score(model, X_trn, y_trn, X_val, y_val)

0.2310677847471198

In [66]:
model.score(X_val, y_val)

0.8899619567546689

In [67]:
#for i in range(10,250, 10):
#    model = RandomForestRegressor(n_estimators= i)
#    print(i, '\t',  model_score(model, X_trn, y_trn, X_val, y_val))

In [68]:
model = RandomForestRegressor(n_estimators=110, n_jobs= -1)
model_score(model, X_trn, y_trn, X_val, y_val)

0.22373528631496306

In [69]:
model.score(X_val, y_val)

0.8968348472557488

In [70]:
X_six.describe()

,YearMade,datasource,state,age,fiBaseModel,fiProductClassDesc,fiModelDesc
count,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000,412698.000000
mean,1899.049637,135.169361,22.452953,105.267745,565.297375,31.283975,1720.712279
std,292.190243,9.646749,15.730291,292.497109,477.700941,22.584872,1300.780342
min,1000.000000,121.000000,0.000000,-12.000000,0.000000,0.000000,0.000000
25%,1985.000000,132.000000,8.000000,5.000000,207.000000,10.000000,648.000000
50%,1995.000000,132.000000,20.000000,9.000000,408.000000,34.000000,1433.000000
75%,2001.000000,136.000000,40.000000,16.000000,707.000000,51.000000,2348.000000
max,2014.000000,173.000000,52.000000,1012.000000,1977.000000,73.000000,5131.000000

In [71]:
model = RandomForestRegressor(max_depth=30, min_samples_split=20, n_estimators=110, n_jobs= -1)
model_score(model, X_trn, y_trn, X_val, y_val)

0.22336413478508468

In [72]:
model.score(X_val, y_val)

0.8971768419906114

In [73]:
train.Engine_Horsepower.unique()

array([nan, 'No', 'Variable'], dtype=object)

In [74]:
train.fiBaseModel

0           521
1           950
2           226
3         PC120
4          S175
          ...
412693       30
412694       30
412695       30
412696       30
412697       30
Name: fiBaseModel, Length: 412698, dtype: object

In [75]:
train.state.unique()

array(['Alabama', 'North Carolina', 'New York', 'Texas', 'Arizona',
       'Florida', 'Illinois', 'Oregon', 'Ohio', 'Arkansas', 'Wisconsin',
       'Kansas', 'Nevada', 'Iowa', 'Maine', 'Massachusetts', 'California',
       'Louisiana', 'Minnesota', 'New Hampshire', 'Idaho', 'Michigan',
       'Mississippi', 'Georgia', 'Missouri', 'South Carolina', 'Utah',
       'Tennessee', 'Washington', 'Virginia', 'South Dakota',
       'West Virginia', 'Oklahoma', 'Pennsylvania', 'Wyoming',
       'North Dakota', 'New Jersey', 'Kentucky', 'Montana', 'Alaska',
       'Nebraska', 'Maryland', 'Hawaii', 'Colorado', 'New Mexico',
       'Indiana', 'Connecticut', 'Delaware', 'Rhode Island', 'Vermont',
       'Washington DC', 'Puerto Rico', 'Unspecified'], dtype=object)

In [76]:
test.state.unique()

array(['Wyoming', 'Virginia', 'New Jersey', 'Florida', 'South Carolina',
       'Illinois', 'Alabama', 'Texas', 'Louisiana', 'Arizona', 'Kentucky',
       'Washington', 'Oklahoma', 'Mississippi', 'Indiana',
       'North Carolina', 'Arkansas', 'Ohio', 'California', 'Colorado',
       'Missouri', 'Tennessee', 'Georgia', 'West Virginia', 'Maine',
       'Massachusetts', 'New Mexico', 'Pennsylvania', 'New York', 'Iowa',
       'Kansas', 'Nevada', 'Hawaii', 'Oregon', 'Minnesota', 'Maryland',
       'Utah', 'Idaho', 'Michigan', 'South Dakota', 'Wisconsin', 'Alaska',
       'Washington DC', 'Nebraska', 'Montana', 'North Dakota',
       'New Hampshire', 'Connecticut', 'Vermont', 'Puerto Rico',
       'Rhode Island'], dtype=object)

In [77]:
pred = model.predict(X_test)

In [78]:
output = pd.DataFrame({'Id': test.SalesID,
                       'SalePrice': np.exp(pred)})
output.to_csv('submission.csv', index=False)